<a href="https://colab.research.google.com/github/hsym-uec/myWeb_github/blob/main/Simmple_Stock.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2023-04-19 Rakutenの株価変動を出力するテストをしました

In [6]:
# Rakuten Stock data from Stooq.com 
# reference https://seanmemo.com/234/

from pandas_datareader import data
start = '2023-04-01'
end = '2023-04-10'
df = data.DataReader('4755.JP', 'stooq', start, end)

In [7]:
df

            Open  High  Low  Close    Volume
Date
2023-04-10   625   640  623    638   9130200
2023-04-07   625   629  622    623   5941200
2023-04-06   615   622  608    621  12566800
2023-04-05   619   629  619    625   8684200
2023-04-04   626   628  617    619   9108600
2023-04-03   623   634  619    629   8633200