<a href="https://colab.research.google.com/github/hsym-uec/myWeb_github/blob/main/Simmple_Stock.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# SoftBank Stock data from Stooq.com 
# reference https://seanmemo.com/234/

from pandas_datareader import data
start = '2023-04-01'
end = '2023-04-18'
df = data.DataReader('4755.JP', 'stooq', start, end)

In [5]:
df

            Open  High  Low  Close    Volume
Date
2023-04-18   682   691  674    686  17306100
2023-04-17   671   677  668    675   9319000
2023-04-14   658   673  655    670  16826300
2023-04-13   638   651  636    651   9294000
2023-04-12   634   646  632    642   8951800
2023-04-11   642   651  639    640   9779300
2023-04-10   625   640  623    638   9130200
2023-04-07   625   629  622    623   5941200
2023-04-06   615   622  608    621  12566800
2023-04-05   619   629  619    625   8684200
2023-04-04   626   628  617    619   9108600
2023-04-03   623   634  619    629   8633200